.page-title {
    color: white;
    text-align: center;
}

.fixed-foot {
    margin-top: 100px;
}

.project-section {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.project-container {
    display: grid;
    margin-left: 70px;
    margin-right: 70px;
    box-shadow: 1px 1px 5px 5px #e7e0e0, 1px 1px 5px 5px #d2cbcb, 1px 1px 5px 5px #935555, 1px 1px 5px 5px #3f3d3d;
}

.project-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 15px;
}
.project-title {
    color: aqua;
}

.project-img-main {
    border: solid 5px black;
    border-radius: 10px;
    width: 50vmin;
    margin-top: 10px;
}

.project-img-main:hover {
    border: solid 5px white;
    border-radius: 10px;
    width: 70vmin;
    margin-top: 10px;
    transition: 600ms ease-in-out
}

.project-desc {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}
.project-under {
    display: flex;
    justify-content: center;
    color: white;
}

.project-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-top: 2px solid white;
}

.project-inner-btns {
    height: 5vmin;
    width: 5vmin;
    margin: 10px;
}



.project-inner-btns:hover {
    transition: 500ms ease-in-out;
    height: 7vmin;
    width: 7vmin;
    transform: rotate(360deg);
}


@media (max-device-width:480px ) {
    .project-info {
        grid-template-rows: 0.35fr 1fr;
    }
    .project-desc {
        padding-bottom: 5px;
    }
    .project-under {
        margin: 0 10px 10px 10px;
    }
    .project-inner-btns {
        height: 10vmin;
        width: 10vmin;
    }
    .project-img-main:hover {
        border: solid 5px white;
        border-radius: 10px;
        width: 60vmin;
        margin-top: 10px;
        transition: 600ms ease-in-out
    }

    }