.page-title {
    color: white;
    text-align: center;
}

.name-2 {
    color: aqua;
    display: flex;
    justify-content: center;
}

.intro {
    /* display: grid;
    grid-template-columns: 0.20fr 1fr;
    padding-left: 30px; */
    padding-right: 15px;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    padding-left: 400px;
}

.intro-2 {
    margin-right: 25vw;
    margin-left: 10px;
}

.intro-desc {
    font-size: 19px;
    color: white;
}

.intro-desc2 {
    font-size: 19px;
    margin-top: 19px;
    color: white;
}

.intro-desc3 {
    font-size: 19px;
    margin-top: 19px;
    color: white;
}

.img-me {
    height: 20vmin;
    width: 20vmin;
}

.words {
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills {
    color: white;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages {
    display: grid;
    margin: 15px;
}
.skills-language {
    color: aqua;
    display: flex;
    justify-content: center;
    height: 30px;
}
.languages-div {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    box-shadow: 1px 1px 10px 10px #e7e0e0;
}

.frameWorks {
    display: grid;
    margin: 15px;
}
.skills-frameWorks {
    color: aqua;
    display: flex;
    justify-content: center;
    height: 30px;
}
.frameWorks-div {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    box-shadow: 1px 1px 10px 10px #e7e0e0;
}

.tools {
    display: grid;
    margin: 15px;
}
.skills-tools {
    color: aqua;
    display: flex;
    justify-content: center;
}
.tools-div {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    box-shadow: 1px 1px 10px 10px #e7e0e0;
}

.logo {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-right: 3px;
}


@media (min-device-width:2100px ) {
    .intro {
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        padding-left: 450px;
    }
    .name-2 {
        justify-content: flex-start;
    }
    .languages-div {
        width: 25vw;
    }
    .frameWorks-div {
        width: 25vw;
    }
    .tools-div {
        width: 25vw;
    }
    .logo {
        height: 50px;
    }
} 

@media (max-device-width:1440px ) {
    .intro {
        display: grid;
        /* flex-direction: column; */
        grid-template-columns: 0.1fr 1fr;
        padding-left: 100px;
    }
    .intro-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10vw;
    }
    .name-2 {
        justify-content: flex-start;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .languages-div {
        width: 65vw;
    }
    .frameWorks-div {
        width: 65vw;
    }
    .tools-div {
        width: 65vw;
    }
    .logo {
        height: 50px;
    }
}

@media (max-device-width:770px ) {
    .intro {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 0.1fr 1fr; */
        padding-left: 0px;
    }
    .name-2 {
        justify-content: center;
    }
    .intro-2 {
        text-align: center;
        margin-left: 50px;
        margin-right: 10px;
    }
    .intro-desc {
        font-size: 15px;
    }
    .intro-desc2 {
        font-size: 15px;
    }
    .intro-desc3 {
        font-size: 15px;
    }

}

@media (max-device-width:480px ) {
    .words {
        padding-left: 10px;
        font-size: 15px;
    }
    .img-me {
        height: 45vmin;
        width: 45vmin;
    }
    .name-2 {
        font-size: 20px;
    }
    .intro {
        padding-left: 0;
    }
    .skills-language {
        font-size: 20px;
    }
    .skills-frameWorks {
        font-size: 20px;
    }
    .skills-tools {
        font-size: 20px;
    }
    .skill {
        padding-left: 2px;
        max-height: 1vh;
    }
    .languages-div {
        width: 90vw;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; 
    }
    .frameWorks-div {
        width: 90vw;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; 
    }
    .tools-div {
        width: 90vw;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; 
    }
    .tools {
        margin: 10px 15px 0 15px;
    }
    .languages {
        margin: 0 15px 0 15px;
    }
    .frameWorks {
        margin: 10px 15px 0 15px;
    } 
    .logo {
        height: 30px;
    }
}