.page-title {
    color: white;
    text-align: center;
}

.underTitle {
    color: white;
    text-align: center;
    padding-top: 30px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-background {
    display: flex;
    justify-content: center;
    border: solid 2px white;
    box-shadow: 1px 1px 10px 10px #e7e0e0, 1px 1px 10px 10px #d2cbcb, 1px 1px 10px 10px #935555, 1px 1px 20px 5px #3f3d3d;
    border-radius: 20px;
    padding: 30px;
    margin-top: 5vh;
    margin-right: 30vw;
    margin-left: 30vw;
}

#name-input {
    height: 30px;
    margin-bottom: 10px;
}

#email-input {
    margin-bottom: 10px;
    height: 30px;
}

.contact-submit {
    margin-top: 10px; 
    border: 2px solid white;
    border-radius: 5px;
}

.contact-submit:hover {
    color: white;
    background: rgb(32, 32, 32);
    border: 2px solid lightblue;

}


/* @media (max-device-width:2100px ) {

} */

/* @media (min-device-width:1440px ) {

} */

/* @media (max-device-width:770px ) {


    } */

@media (max-device-width:480px ) {
    .contact-background {
        margin-left: 50px;
        margin-right: 50px;
        }
        .contact-form {
        width: 50vw;
        }
}