nav {
    background-color: black;
    color: white;
    height: 4vh;
}

.section {
    display: flex;
    justify-content: right;
    position: relative; 
    top: 15px;
}

.links {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.links:hover {
    color: aqua;
    text-decoration: underline;
    transition: 500ms;
}

.nav-logo {
    height: 60px;
    display: flex;
    float: left;
}

@media (max-device-width:480px ) {
    .links {
        font-size: 13px;
    }
    .nav-logo {
        height: 40px;
    }
   }