.page-title {
    color: white;
    text-align: center;
}

.resume {
    display: flex;
    margin: auto;
    height: 70vh;
    width: 50vh;
}

.resumeBtn {
    display: flex;
    margin: 10px auto;
    text-decoration: underline;
}

.resumeBtn:hover {
    color: white;
    background: rgb(32, 32, 32);
    border: 2px solid lightblue;
}

@media (max-device-width:480px ) {
    .resume {
        height: 65vh;
        width: 90vw;
    }
    }