.footer {
    margin-top: 10px;
    position: fixed;
    bottom: 10px;
    padding: 5px 0 5px;
    color: white;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

.underFoot {
    display: flex;
    flex-direction: column;
}

.footer2 {
    height: 14px;
}

.group-2 {
    display: flex;
    justify-content: center;
    padding: 5px 0 5px;
    color: white;
    padding-left: 20px;
    align-items: flex-end;
}

.img-links-btn {
    height: 50px;
    margin: 0 15px 0 15px;
}

@media (max-device-width:480px ) {
        .underFoot {
            display: grid;
            grid-template-columns: 1.5fr 1.5fr 1.5fr;
        }
        .group-2 {
            display: flex;
            flex-direction: row;
        }
        .footer2 {
            display: flex;
            justify-content: center;
            font-size: 9px;
            padding-left: 5px;
        }
        .img-links-btn {
            height: 35px;
            margin: 0 15px 0 15px;
        }
        .footer {
            bottom: 0;
            display: flex;
            flex-direction: column;
            padding: 0;
            width: 100vw;
            z-index: -15;
        }
    }