.container {
    margin-top: 35vh;

}
.name {
    display: flex;
    justify-content: center;
    font-size: 100px;
    letter-spacing: 5px;
    font-weight:bold;
    color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}

.job {
    text-align: center;
    font-size: 60px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top: -60px;
}

.under-job {
    display: flex;
    justify-content: center;
}

.git-hub-btn {
    height: 50px;
    margin-left: -20px;
}

.img-links-btn:hover {
    border: 3px solid lightblue;
    background: rgb(32, 32, 32);
    border-radius: 10px;
}

.linked-in-btn {
    height: 50px;
    margin-right: 20px;
}

.home-footer {
    width: 100vw;
    position: fixed;
    bottom: 0px;
    display: grid;
    padding: 5px 0 5px;
    color: white;
    flex-direction: column;
    grid-template-rows: 1fr 1fr;
    padding-left: 20px;
    text-align: center;
}



@media screen and (max-width:1440px ) {
   .name {
    font-size: 90px;
    text-align: center;
   }
   .job {
    font-size: 50px;
    margin-top: 30px;
   }
}

@media screen and (max-width:770px ) {
    .name {
        font-size: 70px;
    }

}

@media screen and (max-width:480px ) {
    .name {
    font-size: 60px;
    text-align: center;
    }
    .job {
    font-size: 35px;
    margin-top: 30px;
    }
}